@using Sandbox;
@using System
@using Sandbox.UI;

@implements INavigatorPage
@namespace HC2
@attribute [StyleSheet]

<root>
    <div class="canvas">
        <div class="column justify-center">
            <label class="title">
                Settings
            </label>

            <div class="column gap" style="width: 256px;">
                <div class="settings column gap" style="width: 412px;">
                    <div class="row">
                        <label class="small">Master Volume:</label>
                        <SliderControl Value:bind="@GameSettingsSystem.Current.MasterVolume" Min=@(0) Max=@(100) Step=@(1) />
                    </div>
                    <div class="row">
                        <label class="small">Music Volume:</label>
                        <SliderControl Value:bind="@GameSettingsSystem.Current.MusicVolume" Min=@(0) Max=@(100) Step=@(1) />
                    </div>
                    <div class="row">
                        <label class="small">SFX Volume:</label>
                        <SliderControl Value:bind="@GameSettingsSystem.Current.SFXVolume" Min=@(0) Max=@(100) Step=@(1) />
                    </div>
                    <div class="row">
                        <label class="small">UI Volume:</label>
                        <SliderControl Value:bind="@GameSettingsSystem.Current.UIVolume" Min=@(0) Max=@(100) Step=@(1) />
                    </div>
                    <div class="row">
                        <label class="small">Voice Volume:</label>
                        <SliderControl Value:bind="@GameSettingsSystem.Current.VoiceVolume" Min=@(0) Max=@(100) Step=@(1) />
                    </div>
                </div>
                <div class="button" onclick=@GameSettingsSystem.Save>Save</div>
                <a class="button" href="/">Return</a>
            </div>
        </div>
    </div>
</root>

@code
{

}
